:root {
  /* --main-color-rgb: 122 222 231;
  --opponent-color-rgb: 234 228 170; */
  --main-color: #7ae6e7;
  --opponent-color: #efe58a;
}

* {
  margin: 0;
  padding: 0;
  border: 0
}

html {
  font-size: 16px;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("./images/ship-image-blurred.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.boards {
  display: flex;
  gap: 100px;
  justify-content: center;
  box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  border-radius: 20px;
}

.player-board-container, .computer-board-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.board-heading {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

.computer-board-container .board-heading {
  color: var(--opponent-color);
}

.player-board-container .board-heading {
  color: var(--main-color);
}

.player-board, .computer-board {
  border-radius: 30px 30px 30px 30px;
  opacity: 0.7;
  overflow: hidden;
}

.player-board {
  box-shadow: 0 10px 80px 10px var(--main-color);
}

.computer-board {
  box-shadow: 0 10px 80px 10px var(--opponent-color)
}

.row {
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  font-weight: bold;
}

.ship {
  background-color: #104e4f;
}

.ship, .hit {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.65);
}

.player-board .water {
  background-color: var(--main-color);
}

.computer-board .water {
  background-color: var(--opponent-color);
}

.computer-board .water:hover {
  filter: brightness(0.7);
  cursor: crosshair;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.hit {
  background-color: #f9401b;
}

.miss {
  background-color: #a29a50;
}

.miss:hover, .hit:hover {
  cursor: not-allowed;
}

.message-log {
  min-height: 1.5rem;
  font-size: 1.7rem;
  padding: 10px 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px 0px 40px 40px;
  color: white;
  border: 3px inset rgba(255, 255, 255, 0.2);
}

.highlight {
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px -2px 10px 1px var(--main-color);
  color: var(--main-color);
}

@keyframes messagePop {
  0% { opacity: 0; transform: translateY(-2px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-log {
  animation: messagePop 0.3s ease-out forwards;
}