* {
  margin: 0;
  padding: 0;
  border: 0
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boards {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.row {
  display: flex;
}

.ship, .water, .hit, .miss {
  padding: 25px;
}

.ship {
  background-color: rgb(96, 94, 94);
}

.ship, .hit {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
}

.player-board .water {
  background-color: rgb(122, 222, 231);
}

.computer-board .water {
  background-color: rgb(229, 223, 172);
}

.computer-board .water:hover {
  filter: brightness(0.7);
  cursor: crosshair;
}

.hit {
  background-color: brown;
}

.miss {
  background-color: rgb(229, 223, 172);
  filter: brightness(0.9);
}

.miss:hover {
  cursor: not-allowed;
}