* {
  margin: 0;
  padding: 0;
  border: 0
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("./images/ship-image.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boards {
  display: flex;
  gap: 100px;
  justify-content: center;
  opacity: 0.6;
}

.player-board, .computer-board {
  border-radius: 5px;
  padding: 10px;
}

.player-board {
  box-shadow: 0 0 50px 15px #48abe0;
}

.computer-board {
  box-shadow: 0 0 50px 15px #ebecca;
}

.row {
  display: flex;
}

.square {
  padding: 25px;
  border: 1px solid #fff;
}

.ship {
  background-color: rgb(96, 94, 94);
}

.ship, .hit {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
}

.player-board .water {
  background-color: rgb(122, 222, 231);
}

.computer-board .water {
  background-color: rgb(229, 223, 172);
}

.computer-board .water:hover {
  filter: brightness(0.7);
  cursor: crosshair;
  border: 1px solid black;
}

.hit {
  background-color: brown;
}

.miss {
  background-color: rgb(229, 223, 172);
  filter: brightness(0.8);
}

.miss:hover {
  cursor: not-allowed;
}